<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro</title>
</head>
<body>
    <form action="/cadastro" method="post">

        <span>Usuário</span><br>
        <input type="text" name="usuario" id="usuario"><br>

        <span>Nome</span><br>
        <input type="text" name="nome" id="nome"><br>

        <span>Email</span><br>
        <input type="text" name="email" id="email"><br>

        <span>Senha</span><br>
        <input type="password" name="senha" id="senha"><br>

        <span>Confirme sua senha</span><br>
        <input type="password" name="cenha" id="cenha"><br>

        <input type="submit" value="Completar Cadastro">

    </form>

</body>
</html>