<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <form action="/login" method="post">
        <span>Email</span><br>
        <input type="text" name="email" id="email"><br>

        <span>Senha</span><br>
        <input type="password" name="senha" id="senha"><br>

        <input type="submit" value="Entrar">
    </form>
</body>
</html>